.view-product-button {
    padding: 8px 16px;
    background-color: #ff7f50;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .view-product-button:hover {
    background-color: #ff6347;
    transform: scale(1.05);
  }
  